/vendor
/configure/data.php
/configure/databases.php
/logs/
/sess_tmp/
/composer.lock
/docker-compose.yml
/docker/
/public/cache/
/public/hash/
/public/upload/
/nbproject/private/
/modulos/base
/modulos/sociallogin
/modulos/blog
/modulos/carrusel
/modulos/calificaciones
/modulos/catalog
/modulos/developer
/modulos/ecommerce
/modulos/galeria
/modulos/seo
/modulos/sliders
/modulos/wishlist